.viewMore {
  height: 6rem;
  width: 20rem;
  background: #333;
  border: solid #fff 5px;
  transition: all 0.3s ease;
}

.viewMore p {
  color: #fff;
  transition: color 0.3s ease;
}

.viewMore:hover {
  background: #fff;
}

.viewMore:hover p {
  color: #333;
}
.back {
  height: 6rem;
  width: 20rem;
  background: #333;
  border: solid #fff 5px;
  transition: all 0.3s ease;
}

.back p {
  color: #fff;
  transition: color 0.3s ease;
}

.back:hover {
  background: #fff;
}

.back:hover p {
  color: #333;
}
.tipBuy {
  align-self: flex-end;
  height: 6rem;
  width: 100%;
  background: #fff;
  text-align: center;
  line-height: 6rem;
  margin-top: 2rem;
  transition: all 0.3s ease;
  text-decoration: none;
}
.tipBuy:hover {
  background: #333;
  border: solid #fff 3px;
}

.tipBuy p {
  color: #333;
}
.tipBuy:hover p {
  color: #fff;
}
.next {
  width: 20rem;
  height: 6rem;
  background: #333;
  color: #fff;
  display: block;
  margin: 5rem 0 0 auto;
}
.next p {
  font-weight: 60rem;
  color: #fff;
}
.next:hover {
  border: solid #333 5px;
  background: #fff;
  color: #333;
}
