.foundationFv {
  background-image: url("/fv/fvBgImg1.jpg");
  height: 50rem;
  width: 100%;
  align-items: center;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foundationFv .title {
  margin-top: 20rem;
}
/* 中身 */
.foundationWrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 10rem;
}
.foundationWrapper p {
  line-height: 3rem;
}

.foundationWrapper h4 {
  color: #fff;
  margin-bottom: 2.5rem;
}
.foundationWrapper h4:not(:first-child) {
  margin-top: 20rem;
}

.foundationWrapper h6 {
  text-align: center;
  margin-bottom: 10rem;
  line-height: 2.8rem;
}
.plateDescriptionWrapper {
  display: flex;
  flex-wrap: wrap;
}
.knowledge {
  width: 75%;
}

.knowledge2,
.knowledge3 {
  margin-top: 10rem;
}
.knowledge h2 {
  margin-bottom: 5rem;
}
.knowledge .detail {
  margin-left: 2rem;
}
.plateDescriptionImg {
  background-image: url("/FundamentalKnowledge/plateImg.jpg");
  width: 33rem;
  height: 35rem;
  border-radius: 1rem;
  background-size: contain;
  margin-right: 5rem;
  margin-bottom: 5rem;
}
.plateContents p:not(:last-child) {
  margin-bottom: 2rem;
}
.plateContents {
  margin: 5rem 0;
}
.Cause {
  margin-top: 5rem;
}
.Cause p:not(:last-child) {
  margin-bottom: 2rem;
}
.allergyDetailsImgWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0 0 0;
  width: 85%;
  justify-content: space-between;
}
.allergyDetailsImgContents {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.allergyDetailsImgContents p {
  margin: 2rem 0;
}
.allergyDetailsImg {
  height: 20rem;
  width: 22rem;
  border: #fff 2px solid;
}
.allergyDetailsImg1 {
  background-image: url("/FundamentalKnowledge/itch.jpg");
}
.allergyDetailsImg2 {
  background-image: url("/FundamentalKnowledge/redness.jpg");
}
.allergyDetailsImg3 {
  background-image: url("/FundamentalKnowledge/swelling.jpg");
}
.allergyDetailsImg4 {
  background-image: url("/FundamentalKnowledge/eczema.jpg");
}
.toolWrapper {
  width: 75%;
}
.toolWrapper h2 {
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.toolContents {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}
.toolContents p {
  margin-right: 5rem;
  margin-bottom: 5rem;
}
.tool {
  background-image: url("/FundamentalKnowledge/tool.jpg");
  width: 50rem;
  height: 38rem;
  border-radius: 1rem;
  background-size: contain;
}
.procedureWrapper {
  margin-left: 2rem;
}
.procedureWrapper h6 {
  text-align: start;
  margin-bottom: 0;
}
.procedureWrapper .detail {
  margin: 2rem 0 3rem 2rem;
}
.procedure5 {
  margin: 3rem 0;
  margin-bottom: 3rem !important;
}
