.index {
  position: relative;
  background-color: #333;
}
.wrapper:not(:last-child) {
  padding-bottom: 25rem;
}
.viewMoreButton {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}
.backButton {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
/* スクロールフェード用 */
.fadeSection {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fadeSection.isVisible {
  opacity: 1;
  transform: translateY(0);
}
