* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.eachPage {
  background-color: #333;
}
.img {
  background-repeat: no-repeat;
  background-position: center;
}
.title {
  text-align: center;
  margin-bottom: 5%;
}
h1 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
}
h3 {
  font-size: 2.2rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 2rem;
}
h4 {
  font-size: 2.4rem;
  color: #333;
  font-weight: bold;
}
h5 {
  font-size: 2.7rem;
  color: #fff;
  font-weight: bold;
}
h6 {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
}
p {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: bold;
}
