.newsFv {
  background-image: url("/fv/fvBgImg1.jpg");
  height: 50rem;
  width: 100%;
  align-items: center;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsFv .title {
  margin-top: 20rem;
}
.newsWrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.newsWrapper h2 {
  margin: 10rem 0;
}
.news {
  height: auto;
  width: 50%;
  background: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.news p {
  color: #333;
  padding: 3rem 0;
}
.ymd {
  font-size: 1.4rem;
  margin-left: 5rem;
}
.newsDetails {
  font-size: 1.8rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
