.testImg {
  background-image: url("/test/testImg.jpg");
  height: 70vh;
  width: 90%;
  background-size: contain;
  margin: 0 auto;
}
.choice p {
  text-align: center;
  margin: 5rem 0;
}
.choiceButtonWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}
.choiceButton {
  height: 6rem;
  width: 30%;
  background: #333;
  border: solid #fff 5px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.choiceButton button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.choiceButton p {
  margin-top: 1.6rem;
  font-size: 2.6rem;
  transition: color 0.3s ease;
  margin: 0;
  text-decoration: none;
}
.choiceButton:hover {
  background: #fff;
}

.choiceButton:hover p {
  color: #333;
}
